.journal-item__header {
    margin: 0;
    color: #3B4394;
    font-family: Gerbera;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    align-self: flex-start;
}

.journal-item__body {
    margin: 0;
    display: flex;
    gap: 10px;
}

.journal-item__date {
    margin: 0;
    color: #7D7D7D;
    font-family: Gerbera;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.journal-item__text {
    margin: 0;
    color: #7D7D7D;
    font-family: Gerbera;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    overflow: hidden;
}